//ファイル名を「firebaseConfig.js」に変更し、以下にプロジェクト固有の環境変数をセットしてください。
//Git連携  NG

import { initializeApp } from "firebase/app";
import { getFirestore } from "firebase/firestore";

const firebaseConfig = {
  apiKey: "APIキー",
  authDomain: "プロジェクトID.firebaseapp.com",
  projectId: "プロジェクトID",
  storageBucket: "プロジェクトID.appspot.com",
  messagingSenderId: "senderId",
  appId: "appId",
  measurementId: "measurementId",
};

const app = initializeApp(firebaseConfig);

export const db = getFirestore(app);
